.navbar {
  .nav {
    > li {
      padding-bottom: 12px;
      > a {
        > .avatar {
          width: 30px;
          height: 30px;
          margin-right: 6px;
          margin-top: -5px;
          float: left;
          overflow: hidden;
          @include border-radius($borderRadiusRound);
        }
      }
      li {
        float: none;
      }
    }
    &.user-dropdown {
      a {
        padding: 10px 10px 0px;
        margin-top: -10px;
      }
    }
    .navbar-search {
    .search-query {
      min-height: 30px;
      }
    }
  }
  .brand {
    position: absolute;
    top: 10px;
    left: calc(50% - (64px * .5));
    float: none;
    margin: 0;
    padding: 0;
    &.small {
      max-width: 64px;
    }
  }
}


// Inside the administration
.admin-header,
.admin-sidebar-r{
  .navbar-inner{
    border-radius:$baseBorderRadius 0 0 0;
  }
}

.admin-sidebar{
  .navbar-inner{
    background-color:$grayDark;
    border:0;
    border-top:1px solid rgba(white,.25);
    border-bottom:1px solid rgba(black,.25);
    @include background-image(
      linear-gradient(top, lighten($grayDark, 5%), darken($grayDarker, 5%))
    );
    border-right:0;
    border-radius:0;
    margin-right:-20px;
  }
  .navbar .nav > li > a {padding-left:0;}
}