<div class="fixed">

	<div class="stats-dl row seamless">
		<dl class="text-center">
			<dt>Reviews</dt>
				<dd>6</dd>
		</dl>
		<dl class="stext-center">
			<dt>Following</dt>
				<dd>107</dd>
		</dl>
		<dl class="text-center">
			<dt>Followers</dt>
				<dd>892</dd>
		</dl>
	</div>

	<dl class="super-dl">
		<dt>Expertise</dt>
			<dd><a href="#">Enterprise</a><dd>
			<dd><a href="#">Social</a></dd>
			<dd><a href="#">TechStars</a></dd>
			<dd><a href="#">B2B</a></dd>
			<dd><a href="#">marketing</a></dd>
			<dd><a href="#">bizops</a></dd>
	</dl>

	<ul class="unstyled small">
		<li><b>&copy;2013 Techstars</b></li>
		<li>
			<ul class="unstyled">
				<li><a href="#">Help</a></li>
				<li><a href="#">Feedback</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Perks</a></li>
				<li><a href="#">TechstarsTV</a></li>
				<li><a href="#">Jobs</a></li>
				<li><a href="#">Wiki</a></li>
				<li><a href="#">Locations</a></li>
				<li><a href="#">Schedule</a></li>
			</ul>
		</li>
	</ul>

</div>