<div class="fixed">
	<img src="//m.c.lnkd.licdn.com/media/p/2/000/06e/232/0896866.jpg" width="100%" height="auto" alt="user avatar">

	<div class="meta-wrap featurette featurette-welldark">
		<p>Boulder 2007 Summer</p>
	</div>

	<div class="meta-wrap">
		<div class="control-group row">
			<a href="#" class="btn btn-primary span6">Follow</a>
			<a href="#" class="btn span6">Message</a>
		</div>
	</div>

	<ul class="meta-wrap unstyled divide">
		<li>
			<span><i class="icon-checkin"></i>Boulder</span>
		</li>
		<li>
			<a href="#"><i class="icon-mail"></i>ari.newman@techstars.com</a>
		</li>
		<li>
			<a href="#"><i class="icon-twitter"></i>@arinewman</a>
		</li>
		<li>
			<a href="#"><i class="icon-facebook"></i>Facebook</a>
		</li>
		<li>
			<a href="#"><i class="icon-linkedin"></i>LinkedIn</a>
		</li>
		<li>
			<a href="#"><i class="icon-angellist"></i>AngelList</a>
		</li>
	</ul>
</div>