@charset "UTF-8";

/*------------------------------------*\
    Import Compass Framework
\*------------------------------------*/
@import "compass/css3";
@import "compass/typography/text/replacement";
@import "compass/utilities/general/clearfix";
@import "compass/typography/vertical_rhythm";

/*------------------------------------*\
    Hull mixins
\*------------------------------------*/
@import "mixins/position";
@import "mixins/ellipsis";

/*------------------------------------*\
    Bootstrap
\*------------------------------------*/
@import "variables";
@import "bootstrap";
// @import "bootstrap-responsive"; // Include responsive Bootstrap styles

// Override
@import "hull-bootstrap/layouts";
@import "hull-bootstrap/forms";
@import "hull-bootstrap/type";
@import "hull-bootstrap/button";
@import "hull-bootstrap/code";
@import "hull-bootstrap/hero-unit";
@import "hull-bootstrap/dropdowns";
@import "hull-bootstrap/progress-bars";
@import "hull-bootstrap/thumbnails";
@import "hull-bootstrap/nav";
@import "hull-bootstrap/pager";
@import "hull-bootstrap/pagination";
@import "hull-bootstrap/breadcrumbs";
@import "hull-bootstrap/labels-badges";
@import "hull-bootstrap/well";
@import "hull-bootstrap/navbar";
@import "hull-bootstrap/tooltip";
@import "hull-bootstrap/modal";


/*------------------------------------*\
    Hull
\*------------------------------------*/
@import "hull-components/layouts";
@import "hull-components/navbar";
@import "hull-components/type";
@import "hull-components/list";
@import "hull-components/well";
@import "hull-components/featurettes";
@import "hull-components/admin";
@import "hull-components/table";
@import "hull-components/nav";
@import "hull-components/dropdown";
@import "hull-components/modal";
@import "hull-components/progress-bars";
@import "hull-components/form";
@import "hull-components/button";
@import "hull-components/projects";
@import "hull-components/grid";

ul.the-icons li{
  float: left;
  width: 25%;
  line-height: 25px;
}

[class^="icon-"], [class*=" icon-"]{
  background: none;
  height: auto;
  width: auto;
  display: inline;
  line-height: normal;
}
@import "fontcustom";

// use box sizing on everything
* {
  @include box-sizing(border-box);
}
// use primary color for highlight
::selection {
  background: $primary;
  }
::-moz-selection {
  background: $primary;
}

// move this to navbar
.navbar-search {
  position: relative;
  > input.search-query {
    @include transition(ease all .3s);
    max-width: 200px;
    + label {
      position: absolute;
      top: 5px;
      right: 10px;
      color: $grayLighter;
      background: $inputBackground;
      @include transition(ease all .1s);
    }
    &:focus {
      width: 100%;
      + label {
        opacity: 0;
      }
    }
  } 
}

// profile specific styles
.user-main {
  background: $bodyBackground;
  // &.span9 {
  //   width: calc(100% - 280px);
  //   border-right: 1px solid rgb(222, 222, 222);
  // }
}

.user-about {
  border-left: 1px solid $hrBorder;
  border-right: 1px solid $hrBorder;
  header {
    h1 {
      @include adjust-font-size-to(32px, 1.2);
    }
    h2, h3 {
      @include adjust-font-size-to(24px, 1);
    }
  }
  > blockquote {
    border-left: none;
    @include adjust-font-size-to(14px, 1);
    color: $gray;
    position: relative;
  }
}

.user-about,
.user-meta .fixed {
  > * {
    padding: 10px 20px;
    border-bottom: 1px solid $hrBorder;
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 22px;
    }
  }
}
@media all and (min-width: 1115px) {
  .fixed {
    position: fixed;
  }
  .user-actions,
  .user-meta {
    max-width: 280px;
    width: 100%;
    > .fixed {
      max-width: 280px;
      width: 100%;
    }
  }
  .user-main {
    &.span9 {
      width: calc(100% - 280px);
      border-right: 1px solid rgb(222, 222, 222);
    }
  }
  .user-meta .super-dl,
  .stats-dl {
    width: 250px;
  }
}

.super-dl {
  > dt {
    @include adjust-font-size-to(24px, 1);
    margin-bottom: $baseLineHeight;
  }
  > dd {
    margin-left: 0;
    > dl {
      @extend .row;
      margin-left: 0;
      margin-top: 0;
      > dt,
      > dd {
        margin-left: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      > dt {
        @extend .span2;
        @extend .pull-left;
      }
      > dd {
        @extend .span10;
        @extend .pull-right;
      }
    }
  }
}

.stats-dl {
  // width: 250px;
  dl {
    position: relative;
    float: left;
    width: calc(100% / 3);
    display: inline-block;
    padding-bottom: 20px;
    dt, dd {
      position: absolute;
      display: block;
      text-align: center;
      width: 100%;
    }
    dt {
      top: 20px;
      @include adjust-font-size-to(12px, 1);
      color: $grayLight;
    }
    dd {
      top: 0;
      font-weight: bold;
      @include adjust-font-size-to(24px, 1);
      margin: 0;
    }
  }
}

.user-meta {
  .super-dl {
    // width: 250px;
    dd {
      a {
        color: inherit;
        padding: 4px 8px;
        margin: 0 0 2px -8px;
        display: block;
        width: 100%;
        @include transition(ease all .3s);
        &:hover,
        &:active,
        &.active {
          text-decoration: none;
          background: shade($grayLightest, 2.5);
          color: $linkColor;
        }
      }
    }
  }
}

.user-activity {
  .row {
    margin: 0 0 10px;
    padding: 10px 20px;
    border-bottom: 1px solid tint($hrBorder, 50);
    &:last-child {
      border-bottom: none;
    }
  }
  .avatar {
    height: 42px;
    width: 42px;
    overflow: hidden;
    @include border-radius($borderRadiusRound);
    + div {
      a {
        font-weight: bold;
      }
      small {
        display: block;
      }
    }
  }
}

.small {
  @include adjust-font-size-to(14px, 1);
}
.user-meta {
  li > ul {
    width: 250px;
    li {
      float: left;
      margin-right: 10px;
    }
  }
}





