<section class="row seamless">
	
	<article class="span9 user-about">
		<header>
			<h1>Ari Newman</h1>
			<h2 class="light-title">Founder, Network Catalyst</h2>
			<h3 class="light-title"><a href="#">Techstars</a></h3>
		</header>

		<blockquote class="short-bio">Network Catalyst @ Techstars. Angel. Mentor. DJ, cyclist, tech &amp; startup junkie, lover of all things fast and tasty. father, husband and mad cyclist.</blockquote>


		<dl class="roles super-dl">
			<dt>Roles</dt>
			<dd>
				<dl>
					<dt>Founder</dt>
					<dd>Filtrbox</dd>
				</dl>
				<dl>
					<dt>Mentor</dt>
					<dd>Precog, BirdBox, SalesLoft, SocialEngine</dd>
				</dl>
				<dl>
					<dt>Advisor</dt>
					<dd>Socedo, Birdbox, ReportGrid, Captimo, Kappius Components, Inspire Commerce, CHNL, RescueTime, Precog</dd>
				</dl>
				<dl>
					<dt>Investor</dt>
					<dd>mix1, Techstars, CHNL </dd>
				</dl>
			</dd>
		</dl>

		<dl class="about super-dl">
			<dt>About</dt>
			<dd>
				<p>Ari is a serial entrepreneur whose passion is working in, on, and around early-stage tech companies. Currently, Ari is part of the awesome team at Techstars, acting as a Network Catalyst. Ari also works as at BulletTime Ventures, a seed stage venture fund. Additionally, he is on the BoD at Precog (big data analytics and insights) and RescueTime (personal productivity), in addition to being an active advisor and investor with several other companies. Previously, Ari was the VP of Strategic Partnerships at Jive Software, who acquired his most recent company Filtrbox in 2010.</p>
				<p>Prior to Filtrbox, Ari was Founder and Principal of Newman Venture Advisors, VP of Product Management at CreekPath Systems (sold to Opsware) and Director of Operations at Volera. His first start-up was JustOn.com, sold to Novell in 2000. His expertise includes enterprise and consumer “Social Web” platforms, SaaS, storage, social media, and web-scale infrastructure. Born and raised in the San Francisco area, Ari has a Marketing degree from the Leeds School at CU-Boulder.</p>
				<p>He lives in Boulder, CO with his wife and two children, where he pursues his many passions in life. Connect with Ari on Twitter or LinkedIn, ﬁnd his online bio at about.me and his recent investments on AngelList.</p>
			</dd>
		</dl>

		<dl class="user-activity super-dl">
			<dt>Activity</dt>
			<dd>
				<ul class="unstyled">
					<li class="row">
						<div class="avatar span2">
							<img src="//m.c.lnkd.licdn.com/media/p/2/000/06e/232/0896866.jpg" width="100%" height="auto" alt="user avatar">
						</div>
						<div class="span10">
							<a href="#">Ari Newman</a> is attending an event:<br /> <a href="#">FounderCon - Chicago 2013</a>, Sunday, September 15, 2013 at 5:00 PM - Tuesday September 17 at 5:30 PM
							<small>1/17/13 at 2:29pm</small>
						</div>
					</li>
					<li class="row">
						<div class="avatar span2">
							<img src="//m.c.lnkd.licdn.com/media/p/2/000/06e/232/0896866.jpg" width="100%" height="auto" alt="user avatar">
						</div>
						<div class="span10">
							<a href="#">Ari Newman</a> added a position:<br /><b>Network Catalyst</b> at <b>Techstars</b>.
							<small>1/17/13 at 2:29pm</small>
						</div>
					</li>
					<li class="row">
						<div class="avatar span2">
							<img src="//m.c.lnkd.licdn.com/media/p/2/000/06e/232/0896866.jpg" width="100%" height="auto" alt="user avatar">
						</div>
						<div class="span10">
							<a href="#">Ari Newman</a> is attending an event:<br /> <a href="#">FounderCon - Chicago 2013</a>, Sunday, September 15, 2013 at 5:00 PM - Tuesday September 17 at 5:30 PM
							<small>1/17/13 at 2:29pm</small>
						</div>
					</li>
				</ul>
			</dd>
		</dl>
	</article>

	<aside class="span3 pull-right user-meta">
    <%= partial "nav/right-side-bar" %>
  </aside>

</section>